/*--start page--*/
#start-page{
    display:inline-block;
    text-align: center;
    margin-top: 4rem;
}
#start-page h1{
    padding-bottom: 10px;

}
#start-page p{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;

}
#start{
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
}
.container.one{
    margin-top: 20px;
    padding: 10px;
}
#timer{
    text-align: center;

}
/*--question page--*/

#questions-pg {
    display:none;
    text-align: center;
    margin-top: 4rem;
}
/*--all done page--*/

#All-done{
    display: none;
    text-align: center;
    padding-top: 4rem;
}
.All-done{
    display: none;
    }

/*--high score page--*/

#highscore{
    display: none;
    text-align: center;
    margin-top: 4rem;
}
#highscore p{
    display: block;
    font-size: 20;
    margin: 1rem;
    background: whitesmoke;
    padding: 1rem;
}
#highscore h2{
    padding-bottom: 1rem;
}
button.highscore{
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 10px;
}
/*--choices buttons--*/

#choices{
    
    list-style: none;
    text-align: justify;
    
    padding-top: 1rem;
}
button.choice{
    display: inline-block;
    cursor: pointer;
    margin-right:1rem;
    margin-bottom: 8px;
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
}

#result{
    display:block;
    font-size: 20px;
    font-weight: 500;
     font-style: italic;
      border-top: 2px solid rgba(218, 208, 208, 0.157);
      margin-top: 1rem;
}
/*--button--*/
#donebtn{
    margin-top: 1.5rem;
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
}
li{
    padding: 5px;
    list-style:none;
}

#goback{
    margin-top: 1rem;
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
}
#clear-highscore{
    margin-top: 1rem;
    font-size: 16px;
    background: rgb(85, 1, 85);
    border: solid 2px  rgb(85, 1, 85);
    padding-left: 1rem;
    padding-right: 1rem;
}

